---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
    <script src="/assets/js/simplejs.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico">

    <title>Tran Phong</title>
  </head>
  
  <body class="body">
    {% include navigation.html %}
    <div class="divider"></div>
    <div class="introduction block" style="display:flex">
        <div class="" style="width:30%;float:left;">
            <img src="assets/images/profile.jpg" 
            style="width:190px;height:190px;border-radius:50%;display: table-cell; margin:auto;position: relative;
            top: 50%; transform: translateY(-50%);">
        </div>

        <div class="" style="width:70%;float:left">
            <p class="name block" align="center">Tran Phong </p>
            <p class="block">
                I am a research enginneer at 
                <a href="https://unicen.smu.edu.sg/" target= "_blank" >Fujitsu-SMU Urban Computing and Engineering (UNiCEN) Corp. Lab</a>, 
                where I work in joint projects funded by <a href="https://aisingapore.org/" target="_blank">AISG</a> 
                to engineer routing engines for logistics companies 
                and by <a href="https://www.police.gov.sg/" target="_blank">SPF</a> to predict incidents
                and optimize the deployment of law-enforcement agents.
                I am also a part-time Master student in Computer Science at
                 <a href="https://www.comp.nus.edu.sg/" target="_blank">NUS, School of Computing</a>. Before joining NUS, I received Bachelor of Engineering in Electrical 
                 Engineering at HCMC University of Technology in Vietnam.
            </p>
            <p class="block">
                <a href="mailto:pbtran@u.nus.edu">Email</a>
                <span>&sol;</span>
                <a href="https://scholar.google.com/citations?user=-MjdFtAAAAAJ&hl=en" target="_blank">Google Scholar</a> 
                <span>&sol;</span> 
                <a href="https://github.com/tpvt99" target="_blank">Github</a>
            </p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="research block">
        <p class="heading block"> Research</p>
        <p class="block">During undergraduates, I had one year as a visiting student at NTU, Singapore where I worked with
        <a href="https://scholar.google.com/citations?user=HsMFSVsAAAAJ&hl=en" target="_blank">Dr. Thinh Pham</a> on a hardware acceleration 
        project for ORB object detection in self-driving cars system. 
        As an engineer in Fujitsu-SMU Corp. Lab, 
        I  developed a deep learning model for <a href= "http://127.0.0.1:4000/workexp/gv-spf.html" target="_blank">incidents predictions </a>
        and a routing engine for vehicle schedulings.
        </p>
        <p class="block">I am interested in computer vision and reinforcement learning for robotic manipulations. In particularly,
            I want to study an end-to-end vision-based policy that can learn tasks autonomously and generalize to new tasks 
            without human supervisions.
        </p>
    </div>

    <div class="divider"></div>
    <div class="publication block" id="publication">
        <p class="heading block">Publications</p>
        {% include publications.html %}
    </div>

    <div class="divider"></div>
    <div class="workexp block" id="workexp">
        <p class="heading block">Work Experience</p>
        {% include workexp.html %}
    </div>

    <div class="divider"></div>
    <div class="workexp block" id="workexp">
        <p class="heading block">Projects</p>
        {% include projects.html %}
    </div>
    
    <div>

    <div class="block">
        <p class="block" style="float:right">Theme from <a href="https://jonbarron.info/" target="_blank">Jon Barron</a>. Developed using 
            <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>.</p>
    </div>
    
  </body>
</html>