{% for project in site.data.projects %}
<div class="research-proj block">
    <div class="research-summary">
        <div style="overflow:hidden">
            <div style="max-width: 50%; float:left;">
                {% if project.webpage %}
                <span><a href="{{project.webpage}}" class="pub-name" style="display:inline" target="_blank">{{ project.name}} </a></span>
                {% else %}
                    <span class="pub-name" style="color:black;">{{ project.name}} </span>
                {% endif %}
                {% if project.code %}
                    <span>| <a href="{{project.code}}" class="pub-name" style="display:inline" target="_blank">Code</a></span>
                {% endif %}
            </div>
            <div style="max-width: 50%; float:right;">
                {{project.timeline}}
            </div>
            
        </div>

        <p class="pub-teammates" style="font-style:italic; padding:5px 0px 5px 0px;">
            {{ project.teammates }}
        </p>
         

        <p class="pub-intro" style="font-size:14px; padding:5px 0px 5px 0px;">
            {{ project.intro }}
        </p>
    </div>
    
</div>
{% endfor %}