{% for work in site.data.workexp %}
<div class="research-proj block">
    <div class="research-thumbnail block">
        <img src="{{ work.thumbnail}}" style="width:160px;height:160px">
    </div>
    <div class="research-summary block">
        {% if work.webpage %}
            <a href="{{work.webpage}}" class="pub-name" target="_blank">{{ work.name}} </a>
        {% else %}
            <a href="javascript:void(0)" class="pub-name" target="_blank">{{ work.name}} </a>
        {% endif %}

        <p class="pub-timeline" style="font-style:italic; padding:5px 0px 5px 0px;">
            {{work.timeline}}
        </p>

        <p class="pub-intro" style="font-size:14px; padding:5px 0px 5px 0px;">
            {{ work.intro }}
        </p>
    </div>
    
</div>
{% endfor %}