h1#pubs-heading {
    font-size: 30px;
    text-align: center;
}

#pubs-author {
    font-size: 18px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.pubs-block {
    padding: 12px;
}

.pubs-section {
    font-size: 22px;
}

.pubs-text {
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Roboto', 'Lato', Verdana, Helvetica, sans-serif;
    text-align: justify;
}

#pubs-thumbnail {
    text-align: center;
    display: block;
    margin: 20px auto 20px auto;
}

#pubs-thumbnail img {
    height: auto;
    max-width: 100%;
}

#pubs-thumbnail figcaption {
    line-height: 1.5em;
}

sub {
    position: relative; top: -0.5em; font-size: 80%;
}